*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.logo{
    height: 80px;
    padding: 10px 20px;
}
nav{
    height: 80px;
    width: -webkit-fill-available;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    /* background-color: #192b53; */
    background-color: #192b53;
    top: 0;
}
header nav ul li{
    list-style: none;
    display: inline-flex;
    border: 1px solid;
    border-color: white;
    font-family: 'Space Mono', monospace;
    
 }
 
 header nav ul li a{
    text-decoration: none;
    padding: 20px 20px 20px 20px; 
    display: inline-flex;
    color: white;
 }
 
 header nav ul li a:hover {
    background-color: #e14694 ;
    color: white;
    font-family: 'Space Mono', monospace;  
 }