<header>
    <nav>
        <img class="logo " src="../../../../assets/imagenes/NASA_logo.svg.png" alt="Logo de la página">

        <ul class="ul-nav">
            <li class="li-nav">
                <a href="#Inicio">
                    <i class="fas fa-home"></i> 
                    Inicio
                </a>
            </li>
            <li class="li-nav ">
                <a href="#cartas">
                    <i class="far fa-address-card"></i>
                    Cartas 
                </a>
            </li>
            <li class="li-nav">  
                <a href="#contact-us">
                   <i class="fab fa-wpforms"></i>
                   Contacto
                </a> 
           </li>
           <li class="li-nav">
                <a href="https://google.com" target="_blank">
                    <i class="fas fa-cogs"></i>
                    Configuraciones
                </a> 
            </li>                      
        </ul>
    </nav>
</header>
