.equipo {background-color: #7146AF ;
	background-image: url(../../../../assets/imagenes/footer.jpg);
    border-radius: 75%;
    padding: 100PX;
    font-size: 90px;
    font-size: uppercase;
    font-style: comic sans;
    text-align: center;
    align-items: center;
     } 


.footer {
background-color: #192B53 ;
border-top: solid blueviolet;
}