<section class="servicio">
    
    <div class="marte">
       <img src="../../../../assets/imagenes/rover.jpg" alt="foto">
        <h2> ROVER DE MARTE</h2> 
        <p>Un Rover de Marte es un vehiculo de motor diseñado para viajar por la superficie de Marte. los rovers tienen varias ventajas sobre los modulos de aterrizaje estacionarios: examinan mas territorio. Los rovers suelen llegar a la superficie del planeta en una nave espacial tipo aterrizador.            
       </p> 
    
    </div>
    <div class="cultura">
      <img src="../../../../assets/imagenes/mars.jpg" alt="foto"> 
       <h2>QUIEN CREO EL MARS ROVER</h2>
       <p>Conplorar Marte. Incluyo el envio de dos Rovers (robots)Spirity y Oportunity para explorar la superficie y la geologia de Marte. Fue dirigida por Peter Theisinger del Jet Propulsion Laboratory de la NASA y el investigador Steven Squyres, profesor de astronomia.
       </p>                
    </div>
  
    <div class="natural">
      <img src="../../../../assets/imagenes/curiosity.jpg" alt="foto"> 
        <h2>QUE HACE EL MARS CURIOSITY</h2>
        <p>Curiosity es el robot mas grande aterrizado en otro planeta. es del tamaño de un pequeño todo terreno. Debido a que Curiosity es tan grande, tambien tiene ruedas mas grande que los Rovers anteriores. Esto le ayuda a rodar sobre las rocas y la arena sin quedar atascado.
        </p>
        
    </div>
  </section>    